@mixin ellips-img {
    overflow: hidden;
    border-radius: 100px;
}

@mixin anothers {
    display: flex;
    gap: 3px;
    padding: 17px 9px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
    cursor: pointer;

    &>div {
        @include dot (5px, 5px, rgb(184, 182, 182))
    }
}


@mixin price {

    padding: 6px 20px 6px 15px;
    border-radius: 20px;
border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
background: var(--white-white, #FFF);

/* Shadows/Gray Blue 30/3%/5b */
box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
}



.basic {
    display: flex;
    flex-basis: 200px;
    .nav {
        padding: 30px 25px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 304px;
        border-right: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);

        .tools {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            position: relative;

            img {
                @include icon ();
            }

            .red-dot {
                @include dot(10px, 10px, red);
                position: absolute;
                top: 152px;
                left: 38px;
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 21px;

            position: relative;


            .img {
                overflow: hidden;
                width: 50px;
                height: 50px;
                border-radius: 200px;

            }

            &>a {
                @include icon();
            }


            .blue-dot {
                @include dot (10px, 10px, blue);

                position: absolute;
                top: 0px;
                left: 35px;
            }
        }
    }

    #card-data {
        padding: 30px;
        max-width: 516px;
    }

    .cards {
        display: flex;
        gap: 30px;

        .main-card {
            width: 350px;
            height: 210px;
            background: linear-gradient(#FFA346 0%, #e0c31d 100%);
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 30px 60px 0px rgba(230, 46, 46, 0.15);


            .card-balance {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    color: var(--white-white, #FFF);
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                }

                h4 {
                    color: var(--white-white, #FFF);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .card-number {
                display: flex;
                gap: 15px;
                align-items: center;

                .dots {
                    display: flex;
                    gap: 3px;

                    .dot {
                        @include dot(5px, 5px, white);
                    }
                }

                h4 {
                    color: var(--white-white, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                }
            }

            .card-owner {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    color: var(--white-white, #FFF);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                }

                .ellips1 {
                    @include dot (60px, 60px, red);
                    transform: translate(67px);
                }

                .ellips2 {
                    opacity: 0.7;
                    @include dot (60px, 60px, #FF5F00);
                }
            }
        }

        .other-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .card {
                border-radius: 3px;
                box-shadow: 0px 1px 63px 0px rgba(244, 239, 255, 0.20) inset;
                width: 65px;
                height: 40px;
                padding: 4px 7px;
                cursor: pointer;

                h4 {
                    color: var(--white-white, #FFF);
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                }

                .ellipses {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 5px;

                    .ellips3 {
                        @include dot (15px, 15px, transparent);
                        background-color: red;
                        transform: translate(4px);
                    }

                    .ellips4 {
                        @include dot (15px, 15px, transparent);
                        background-color: #FF5F00;
                        opacity: 0.6;
                    }

                }
            }

            .card1 {
                background: linear-gradient(197deg, #6246FF 0%, #FFB9B9 100%);

            }

            .card2 {
                background: linear-gradient(197deg, #FFA346 0%, #F2E32E 100%);


            }

            .card3 {
                background: linear-gradient(197deg, #3B3B3B 0%, #767676 100%);
            }
        }

    }

    .circle-graph {
        margin-top: 75px;
        background-color: #fff;
        border-radius: 10px;


        .graph-groups {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            border-bottom: 2px solid var(--gray-blue-grey-blue-95, #EDEFF2);

            .group-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;

                img {
                    padding: 6px;
                    border-radius: 100px;
                    border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
                    background: var(--white-white, #FFF);
                    box-shadow: 0px 2px 5px 0px rgba(38, 51, 77, 0.03);
                }

                a {
                    text-decoration: none;
                    color: var(--purple-purple, #83F);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 900;
                }

            }

            .group-right {

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                a {
                    text-decoration: none;
                    color: var(--gray-blue-grey-blue-70, #7D8FB3);
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                }

                .another {
                    @include anothers();
                }
            }
        }

        .circle-graph-flex {
            padding: 35px;
            display: flex;
            flex-direction: column ;
            align-items: center;
            gap: 94px;
      
            .circle-graph-bottom {
                .pricing {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    .price {
                        display: flex;
                        gap: 5px;
                        align-items: center;

                        @include price();

                        

                        p {
                            color: var(--gray-blue-grey-blue-70, #7D8FB3);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

    }

}